@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.container {
    height: fit-content;
    padding: 16px;
    background: #1F2937;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 7%;
    padding-bottom: 0%;
  }
  
.links li {
  display: inline-block;
  padding: 0px 20px;
}

.link {
  color: #F9FAF8;
  text-decoration: none;
}




.mains {
  color: white;
  height: fit-content;
  padding: 16px;
  background: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 7%;
  padding-bottom: 5%;
  padding-left: 4%;


}
.ul {

list-style: none;
}

.subtext {
  opacity: 0.8;
}

.signup {
  background-color: #3882F6;
  width: 70px;
  border: none;
  border-radius: 50px;
  padding: 9px 25px;
  color:#F9FAF8;
  text-decoration: none;
  
}





.second {
  background: lightgray;
  height: 400px;
  padding-top: 0%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  
}

.English {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    color: white;
    
}

.english-box {
    background-color: #1F2937;

}

.urdu-box {
    background-color: #1F2937;
}

.Urdu {
    color: white;
    display: flex;
    align-items: flex-end;
}




